<h1>Artificially Smart</h1>
<div class="center hero-unit">
  This is where the smart stuff goes!
  <br><br>
  <a href="http://google.com" target="_blank">Test Google Link</a>
  <br><br>
  <button id="testBtn" class="btn">Test Button</button>
</div>

<script>
  $('#testBtn').click(function(){
    window.open('http://www.google.com');
  })
</script>