<h1>Artificially Smart</h1>
<p>This is the homepage :)</p>
<p>Links to some great artifically intelligence articles:</p>
<ul>
  <li><a href="http://waitbutwhy.com/2015/01/artificial-intelligence-revolution-1.html">Wait but why - The AI Revolution: The Road to Superintelligence (part 1)</a></li>
  <li><a href="http://waitbutwhy.com/2015/01/artificial-intelligence-revolution-2.html">Wait but why - The AI Revolution: The Road to Superintelligence (part 2)</a></li>
<ul>
